<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="my-5">
        <p class="text-center">And he came to her and said, “Hail, full of grace, the Lord is with you!”<span
            style="font-weight:900;">-
            Luke 1:28</span></p>
        <br>
        <div class="hailMary d-flex rounded-5">
          <h5 class="my-5 mx-5">
            Hail Mary, full of grace, the Lord is with thee.

            Blessed art thou among women, and blessed is the fruit of thy womb, Jesus.

            Holy Mary, Mother of God, pray for us sinners, now and at the hour of our death. Amen.
          </h5>
        </div>
        
        <br>
        <hr class="mt-5">
        <h1 class="text-center my-5" style="background-color: black;">MARIAN APPARITIONS</h1>
        <hr>
        <div class="card mb-5 rounded-5" style="max-width: 100%;">
          <div class="card-header text-center"></div>
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Virgen_de_guadalupe1.jpg/500px-Virgen_de_guadalupe1.jpg"
                class="img-fluid rounded-5" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Our Lady of Guadalupe</h5>
                <p class="card-text"><span class="fw-bolder">Years:</span> 1531</p>
                <p class="card-text"><span class="fw-bolder">Seers:</span> Juan Diego Cuauhtlatoatzin, Juan Bernardino
                </p>
                <p class="card-text"><span class="fw-bolder">Location:</span> Tepeyac, Mexico (Spanish colonial empire)
                </p>
                <p class="card-text"><span class="fw-bolder">Approval:</span> 1555</p>
                <p class="card-text"><span class="fw-bolder">Feast:</span> December 12</p>
                <p class="card-text"><span class="fw-bolder">Description:</span> Juan Diego, a recently converted Aztec,
                  saw an apparition of Mary on December 9, 1531, who asked for a church to be built on the site. When
                  the
                  local bishop doubted him, Mary appeared again and left her image on his cloak. This cloak is now
                  displayed at the Basilica of Our Lady of Guadalupe in Mexico City. Over time, Our Lady of Guadalupe
                  became a symbol of Catholic faith in Mexico and among the Mexican diaspora.</p>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="card mb-5 rounded-5" style="max-width: 100%;">
          <div class="card-header text-center"></div>
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="https://i.pinimg.com/736x/3d/7a/9f/3d7a9ff2e974990ebe6be5bd9e7786c0.jpg"
                class="img-fluid rounded-5" alt="..." height="100%" width="100%">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Our Lady of the Miraculous Medal / Our Lady of Graces</h5>
                <p class="card-text"><span class="fw-bolder">Years:</span> 1830 </p>
                <p class="card-text"><span class="fw-bolder">Seers:</span> Catherine Labouré</p>
                <p class="card-text"><span class="fw-bolder">Location:</span> Rue du Bac in Paris, France</p>
                <p class="card-text"><span class="fw-bolder">Approval:</span> 1836</p>
                <p class="card-text"><span class="fw-bolder">Feast:</span> November 27</p>
                <p class="card-text"><span class="fw-bolder">Description:</span> Catherine Labouré, a novice with the
                  Daughters of Charity, reported Marian apparitions in 1830. In one, Mary told her that "times were
                  evil"
                  and warned of future sorrows. On November 27, Mary showed her a vision and asked for a medal to be
                  made,
                  promising great graces to those who wore it. The medal, first produced in 1832, became known as the
                  Miraculous Medal due to the miracles associated with it. Its design features Mary, a cross, the letter
                  M, and the Sacred and Immaculate Hearts.</p>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="card mb-5 rounded-5" style="max-width: 100%;">
          <div class="card-header text-center"></div>
          <div class="row g-0">
            <div class="col-md-4">
              <img src="https://i.pinimg.com/736x/7f/da/4c/7fda4c77cddd56bbb66780535ad40aa3.jpg"
                class="img-fluid rounded-5" alt="..." height="100%" width="100%">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Our Lady of La Salette</h5>
                <p class="card-text"><span class="fw-bolder">Years:</span> 1846 </p>
                <p class="card-text"><span class="fw-bolder">Seers:</span> Mélanie Calvat, Maximin Giraud</p>
                <p class="card-text"><span class="fw-bolder">Location:</span> Mount Sous-Les Baisses, La
                  Salette-Fallavaux, France</p>
                <p class="card-text"><span class="fw-bolder">Approval:</span> 1851</p>
                <p class="card-text"><span class="fw-bolder">Feast:</span> September 19</p>
                <p class="card-text"><span class="fw-bolder">Description:</span>Two shepherd children reported seeing an
                  apparition of Mary, who was weeping because of disrespect shown to the Lord's Day and to the Lord's
                  name. She entrusted one secret to each of the two children, which they wrote down and delivered to
                  Pope
                  Pius IX.</p>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="card mb-5 rounded-5" style="max-width: 100%;">
          <div class="card-header text-center"></div>
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="https://i.pinimg.com/1200x/5f/ef/25/5fef25b41bdcd5a2d1f904bd0b4c949f.jpg"
                class="img-fluid rounded-5" alt="..." height="100%" width="100%">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Our Lady of Lourdes - The Immaculate Conception</h5>
                <p class="card-text"><span class="fw-bolder">Years:</span> 1858 </p>
                <p class="card-text"><span class="fw-bolder">Seers:</span> Bernadette Soubirous</p>
                <p class="card-text"><span class="fw-bolder">Location:</span> Lourdes, France</p>
                <p class="card-text"><span class="fw-bolder">Approval:</span> 1862</p>
                <p class="card-text"><span class="fw-bolder">Feast:</span> February 11</p>
                <p class="card-text"><span class="fw-bolder">Description:</span> Fourteen-year-old Bernadette Soubirous
                  reported seeing Mary while gathering firewood. Mary called herself "the Immaculate Conception" and
                  revealed a spring with healing powers. Since 1862, over sixty cures linked to Lourdes have been
                  declared
                  miraculous by the Church, which created a Medical Bureau in 1883 to evaluate such claims. A 2012 study
                  called some cures "impressive" and still unexplained by science.</p>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="card mb-5 rounded-5" style="max-width: 100%;">
          <div class="card-header text-center"></div>
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="https://ichef.bbci.co.uk/news/480/cpsprodpb/14677/production/_102957538_apparitionmosaicatknockbasilica.imagemichaelmclaughlin.jpg.webp"
                class="img-fluid rounded-5" alt="..." height="100%" width="100%">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Our Lady of Knock</h5>
                <p class="card-text"><span class="fw-bolder">Years: </span> 1879</p>
                <p class="card-text"><span class="fw-bolder">Seers:</span> Group of 15 people</p>
                <p class="card-text"><span class="fw-bolder">Location:</span> Knock, Ireland</p>
                <p class="card-text"><span class="fw-bolder">Approval:</span> 1879</p>
                <p class="card-text"><span class="fw-bolder">Feast:</span> August 17</p>
                <p class="card-text"><span class="fw-bolder">Description:</span> On August 21, 1879, fifteen people in
                  Knock, Ireland, saw a silent apparition behind their church: an altar with a lamb (symbolizing Jesus),
                  surrounded by angels, with Mary, Joseph, and St. John nearby. Lasting 90 minutes, the vision is
                  considered Marian but is unique for including multiple figures and having no spoken message.</p>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="card mb-5 rounded-5" style="max-width: 100%;">
          <div class="card-header text-center"></div>
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="https://i.pinimg.com/236x/3a/97/3e/3a973ec44fe13de58a90e14cd4143e64.jpg"
                class="img-fluid rounded-5" alt="..." height="100%" width="100%">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Our Lady of Fátima / Our Lady of the Rosary - The Immaculate Heart of Mary</h5>
                <p class="card-text"><span class="fw-bolder">Years:</span> 1917</p>
                <p class="card-text"><span class="fw-bolder">Seers:</span> Lúcia Santos, Jacinta Marto, Francisco Marto
                </p>
                <p class="card-text"><span class="fw-bolder">Location: </span> Cova da Iria, Fátima, Portugal</p>
                <p class="card-text"><span class="fw-bolder">Approval:</span> 1930</p>
                <p class="card-text"><span class="fw-bolder">Feast:</span> May 13</p>
                <p class="card-text"><span class="fw-bolder">Description:</span> Three shepherd children in Fátima,
                  Portugal, reported seeing an angel, followed by apparitions of Mary, who revealed three secrets
                  involving hell, future global upheavals, and persecution of the Church. The events culminated in the
                  Miracle of the Sun, witnessed by around 70,000 people. All popes since have affirmed belief in the
                  apparitions. Pope John Paul II credited Our Lady of Fátima with saving his life after a 1981
                  assassination attempt. In 1925, Sister Lúcia reported related apparitions, known as the Pontevedra
                  apparitions.</p>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>